<h1>Food For Thought:</h1>
<p>Out of the frying pan, into the @Model.Noun.</p>
<p>I'm in hurry, sorry to @Model.Verb and run.</p>
<p>She dropped him like a(n) @Model.Adjective potato.</p>
<p>You're the apple of my @Model.Noun2.</p>
<p>I bit off more than I can @Model.Verb2.</p>
<p>@Model.Exclamation!</p>

